.media {
  margin-top: 15px; }
  .media:first-child {
    margin-top: 0; }

.media,
.media-body {
  zoom: 1;
  overflow: hidden; }

.media-body {
  width: 10000px; }

.media-object {
  display: block; }
  .media-object.img-thumbnail {
    max-width: none; }

.media-right,
.media > .pull-right {
  padding-left: 10px; }

.media-left,
.media > .pull-left {
  padding-right: 10px; }

.media-left,
.media-right,
.media-body {
  display: table-cell;
  vertical-align: top; }

.media-middle {
  vertical-align: middle; }

.media-bottom {
  vertical-align: bottom; }

.media-heading {
  margin-top: 0;
  margin-bottom: 5px; }

.media-list {
  padding-left: 0;
  list-style: none; }

.navbar-brand {
  padding: 0px; }
  .navbar-brand .logo-img {
    width: 20px;
    height: 20px; }
    @media (min-width: 768px) {
      .navbar-brand .logo-img {
        width: 200px;
        height: 150px; } }

.main-content-wrapper {
  width: 75%;
  float: left; }

.news-and-events-wrapper {
  width: 25%;
  float: right; }
