.navbar-brand{
    padding:0px;
    .logo-img{
        width:20px;
        height:20px;
        @media(min-width: $screen-sm-min){
                width: 200px;
                height: 150px;
        }
    }
}
.main-content-wrapper{
    width:75%;
    float:left;   
}
.news-and-events-wrapper{
    width:25%;
    float:right;
}
                    